<!--动态toolbar-->
<div class="secondary-navigation">
  <ul class="wat-cf">
    <%if params[:action] == "show" or params[:action] == "edit"%>
      <li>
        <%= link_to image_tag("arrow-turn-180-left.png",:alt => "返回"),  :back,:title => "返回",:class => "tipsy" %>
      </li>
    <%end%>

    <%if can? :read,resource_class%>
      <li class="first">
        <%= link_to image_tag("grid.png",:alt => "#{resource_class.model_name.human}列表") , collection_path("search[from_org_id_in]" => current_user.current_ability_org_ids,"search[completed_eq]" => 0,"search[bill_date_eq]" => Date.today,:sort => "carrying_bills.bill_date desc,goods_no",:direction => "asc"),:title => "#{resource_class.model_name.human}列表",:class => "tipsy btn_index"  %>
      </li>
      <li>
        <%= link_to image_tag("grid-snap.png",:alt => "返程/中转#{resource_class.model_name.human}列表") , collection_path("search[to_org_id_or_transit_org_id_in]" => current_user.current_ability_org_ids,"search[state_ni]" =>['billed','loaded','shipped'],"search[completed_eq]" => 0,"search[bill_date_eq]" => Date.today),:title => "返程/中转#{resource_class.model_name.human}列表",:class => "tipsy"  %>
      </li>
      <%if self.respond_to?("search_#{controller_name.tableize}_path")%>
        <li>
          <%= link_to image_tag("application-search-result.png",:alt => "查询运单"),defined?(search_bill_path) ? search_bill_path : search_carrying_bills_path(:sort => "carrying_bills.bill_date desc,goods_no",:direction => "asc",:not_remote => true),:title => "查询全部运单",:class => "fancybox tipsy btn_search" %>
        </li>
      <%end%>
    <%end%>
    <%if can? :create,resource_class%>
      <li>
        <%= link_to image_tag("application--plus.png",:alt => "新建#{resource_class.model_name.human}"), new_resource_path,:title => "新建#{resource_class.model_name.human}",:class => "tipsy btn_new"  %>
      </li>
    <%end%>

    <%if params[:action] == "new"%>
      <li>
        <%= link_to_function image_tag("disk-black.png",:alt => "保存#{resource_class.model_name.human}"), "$('#carrying_bill_form').trigger('submit')",:title => "保存#{resource_class.model_name.human}",:class => "tipsy btn_save"  %>
      </li>
    <%end%>
    <%if params[:action] == "edit"%>
      <li>
        <%= link_to_function image_tag("disk-black.png",:alt => "保存#{resource_class.model_name.human}"), "$('#carrying_bill_form').trigger('submit')",:title => "保存#{resource_class.model_name.human}",:class => "tipsy btn_save"  %>
      </li>
      <%if can? :destroy,resource_class%>
        <li>
          <%= link_to image_tag("cross.png",:alt => "删除该记录"), resource,:method => :delete,:class =>"tipsy btn_destroy",:title => "删除该记录",:confirm => "你确定要删除吗?" %>
        </li>
      <%end%>
    <%end%>
    <%if params[:action] == "show"%>
      <li>
        <%= link_to image_tag("load.png",:alt => "刷新当前记录"),  resource,:title => "刷新当前记录",:class => "tipsy btn_modify" %>
      </li>

      <%if (can?(:update_all,resource) or can?(:update_goods_fee,resource) or can?(:update_carrying_fee_20,resource) or can?(:update_carrying_fee_50,resource) or can?(:update_carrying_fee_100,resource)) and (resource.billed? or resource.loaded? or resource.shipped? or resource.reached? or resource.distributed?)%>
        <li>
          <%= link_to image_tag("application--pencil.png",:alt => "修改当前记录"),  edit_resource_path(resource),:title => "修改当前记录",:class => "tipsy btn_modify" %>
        </li>
      <%end%>
      <%if can? :reset,resource%>
        <li>
          <%= link_to image_tag("minus-shield.png",:alt =>"重置运单"),  reset_carrying_bill_path(resource),:method => :put,:title => "重置运单",:class => "tipsy btn_reset",:confirm => "重置后,将丢失运单所有的操作信息,您确定吗？" %>
        </li>
      <%end%>
      <%if can? :invalidate,resource%>
        <li>
          <%= link_to image_tag("invalid.gif",:alt =>"运单作废"), self.send("invalidate_#{resource_class.model_name.underscore}_path",resource),:method => :put,:title => "运单作废",:class => "tipsy btn_invalidate",:confirm => "作废后,该运单将不能再使用,您确定吗？" %>
        </li>
      <%end%>

      <%if can? :destroy,resource%>
        <li>
          <%= link_to image_tag("cross.png",:alt => "删除该记录"), resource,:method => :delete,:class =>"tipsy btn_destroy",:title => "删除该记录",:confirm => "你确定要删除吗?" %>
        </li>

      <%end%>
      <%if can? :print,resource%>
        <li>
          <%= link_to_function image_tag("printer.png",:alt => "打印运单"), "",:class =>"tipsy print_carrying_bill btn_print",:title => "打印运单","data-print" => "#{resource.to_print_json}" %>
        </li>
      <%end%>
    <%end%>
    <%if params[:action] == "index"%>

      <!--
      <li>
        <%= link_to image_tag("document-excel-table.png",:alt => "导出为EXCEL"), collection_path(:search => params[:search],:format => :csv),:title => "导出为EXCEL",:class => "tipsy"  %>
      </li>

      -->
      <li>
        <%= link_to image_tag("document-excel-table.png",:alt => "导出为EXCEL"), self.send("export_excel_#{controller_name.tableize}_path",:search => params[:search],:show_fields => params[:show_fields],:hide_fields => params[:hide_fields],:sort => params[:sort],:direction => params[:direction]),:title => "导出为EXCEL",:class => "btn_export_excel tipsy"  %>
      </li>
    <%end%>
    <%if params[:action] == "rpt_turnover"%>
      <li>
        <%= link_to_function image_tag("document-excel-table.png",:alt => "导出为EXCEL"), "",:title => "导出为EXCEL",:class => "tipsy",:id => "btn_export_turnover","data-table" => "#rpt_turnover"  %>
      </li>
    <%end%>
    <%if params[:action] == "sum_goods_fee_inout"%>
      <li>
        <%= link_to_function image_tag("document-excel-table.png",:alt => "导出为EXCEL"), "",:title => "导出为EXCEL",:class => "tipsy",:id => "btn_export_sum_goods_fee_inout","data-table" => "#sum_goods_fee_inout"  %>
      </li>
    <%end%>
    <%= render "extra_toolbar" %>
  </ul>
</div>
