<%sum_info = search_sum%>
<table class="table">
  <thead>
    <tr class='text-center'>
      <th class="first">序号</th>
      <th class='bill_date'>票据日期</th>
      <th class='bill_no'>票号</th>
      <th class='goods_no'>货号</th>
      <th class='from_org'>发货地</th>
      <th class='to_org'>到货地</th>
      <th class='from_customer'>发货人</th>
      <th class='to_customer'>收货人</th>
      <th class='pay_type'>付款方式</th>
      <th class="goods_fee">代收货款</th>
      <!--运费-->
      <th class="carrying_fee">运费</th>
      <th class="carrying_fee_th hide">运费[提]</th>
      <th class="k_carrying_fee hide">运费[扣]</th>
      <!--保险费-->
      <th class="insured_fee hide">保险费</th>
      <th class="insured_fee_th hide">保险费[提]</th>
      <th class="k_insured_fee hide">保险费[扣]</th>

      <!--发货短途-->
      <th class="from_short_carrying_fee hide">发货短途</th>
      <th class="from_short_carrying_fee_th hide">发货短途[提]</th>
      <th class="k_from_short_carrying_fee hide">发货短途[扣]</th>

      <!--到货短途-->
      <th class="to_short_carrying_fee hide">到货短途</th>
      <th class="to_short_carrying_fee_th hide">到货短途[提]</th>
      <th class="k_to_short_carrying_fee hide">到货短途[扣]</th>

      <!--运费合计-->
      <th class="carrying_fee_total hide">运费合计</th>
      <th class="carrying_fee_th_total hide">运费合计[提]</th>
      <th class="k_carrying_fee_total hide">运费合计[扣]</th>
      <!--中转相关费用-->
      <th class="transit_carrying_fee hide">中转运费</th>
      <th class="transit_hand_fee hide">中转手续费</th>
      <th class="agent_carrying_fee hide">代收运费</th>


      <!--提货应收-->
      <th class="th_amount hide">提货应收</th>

      <!--扣手续费-->
      <th class="k_hand_fee hide">手续费[扣]</th>
      <!--实提货款-->
      <th class="act_pay_fee hide">实提货款</th>

      <!--其他-->
      <th class='note'>备注</th>
      <th class='state'>状态</th>
      <th class='from_short_fee_state hide'>短途运费状态</th>
      <th class='to_short_fee_state hide'>短途运费状态</th>
      <th class='stranded_days hide'>滞留天数</th>
    </tr>
  </thead>
  <tbody>
    <% @search.all(:include => [:from_org,:to_org,:transit_org,:user]).each_with_index do |bill,index| %>
      <tr class="<%= cycle("odd", "even") %>" >
        <td><%= index + 1 %></td>
        <td class='bill_date'><%=bill.bill_date.strftime('%y-%m-%d')%></td>
        <td class='bill_no'>&nbsp;<%=bill.bill_no%></td>
        <td class='goods_no'><%=bill.goods_no%></td>
        <td class='from_org'><%=bill.from_org_name%></td>
        <td class='to_org'><%=["TransitBill","HandTransitBill"].include?(bill.type) ? "#{bill.area}" : bill.to_org_name%></td>
        <td class='from_customer'><%=bill.from_customer_name%></td>
        <td class='to_customer'><%=bill.to_customer_name%></td>
        <td class='pay_type'><%=pay_type_des(bill.pay_type) %></td>

        <td class="goods_fee"><%=bill.goods_fee %></td>

        <td class="carrying_fee">
          <%=bill.carrying_fee %>
        </td>
        <td class="carrying_fee_th hide">
          <%=bill.carrying_fee_th %>
        </td>
        <td class="k_carrying_fee hide">
          <%=bill.k_carrying_fee %>
        </td>

        <td class="insured_fee hide">
          <%=bill.insured_fee %>
        </td>
        <td class="insured_fee_th hide">
          <%=bill.insured_fee_th %>
        </td>
        <td class="k_insured_fee hide">
          <%=bill.k_insured_fee %>
        </td>

        <td class="from_short_carrying_fee hide">
          <%=bill.from_short_carrying_fee %>
        </td>
        <td class="from_short_carrying_fee_th hide">
          <%=bill.from_short_carrying_fee_th %>
        </td>
        <td class="k_from_short_carrying_fee hide">
          <%=bill.k_from_short_carrying_fee %>
        </td>


        <td class="to_short_carrying_fee hide">
          <%=bill.to_short_carrying_fee %>
        </td>
        <td class="to_short_carrying_fee_th hide">
          <%=bill.to_short_carrying_fee_th %>
        </td>
        <td class="k_to_short_carrying_fee hide">
          <%=bill.k_to_short_carrying_fee %>
        </td>


        <td class="carrying_fee_total hide">
          <%=bill.carrying_fee_total %>
        </td>
        <td class="carrying_fee_th_total hide">
          <%=bill.carrying_fee_th_total %>
        </td>
        <td class="k_carrying_fee_total hide">
          <%=bill.k_carrying_fee_total %>
        </td>

        <td class="transit_carrying_fee hide"><%=bill.transit_carrying_fee%></td>
        <td class="transit_hand_fee hide"><%=bill.transit_hand_fee%></td>
        <td class="agent_carrying_fee hide"><%=bill.agent_carrying_fee%></td>

        <td class="th_amount hide">
          <%=bill.th_amount %>
        </td>

        <td class="k_hand_fee hide"><%=bill.k_hand_fee%></td>
        <td class="act_pay_fee hide"><%= bill.act_pay_fee %></td>

        <td class="note">
          <div style='width : 50px;height : 30px;overflow : hidden;'>
            <%= bill.note %>
          </div>
        </td>
        <td class="state"><%= bill.human_state_name %></td>
        <td class="from_short_fee_state hide"><%= bill.human_from_short_fee_state_name %></td>
        <td class="to_short_fee_state hide"><%= bill.human_to_short_fee_state_name %></td>
        <td class='stranded_days hide'><%=bill.stranded_days%>天</td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>总计</td>
      <td><%=sum_info[:sum_count]%>票</td>

      <td class="goods_fee"><%=sum_info[:sum_goods_fee]%></td>

      <td class="carrying_fee"><%=sum_info[:sum_carrying_fee]%></td>
      <td class="carrying_fee_th hide"><%=sum_info[:sum_carrying_fee_th]%></td>
      <td class="k_carrying_fee hide"><%=sum_info[:sum_k_carrying_fee]%></td>

      <td class="insured_fee hide"><%=sum_info[:sum_insured_fee]%></td>
      <td class="insured_fee_th hide"><%=sum_info[:sum_insured_fee_th]%></td>
      <td class="k_insured_fee hide"><%=sum_info[:sum_k_insured_fee]%></td>

      <td class="from_short_carrying_fee hide"><%=sum_info[:sum_from_short_carrying_fee]%></td>
      <td class="from_short_carrying_fee_th hide"><%=sum_info[:sum_from_short_carrying_fee_th]%></td>
      <td class="k_from_short_carrying_fee hide"><%=sum_info[:sum_k_from_short_carrying_fee]%></td>

      <td class="to_short_carrying_fee hide"><%=sum_info[:sum_to_short_carrying_fee]%></td>
      <td class="to_short_carrying_fee_th hide"><%=sum_info[:sum_to_short_carrying_fee_th]%></td>
      <td class="k_to_short_carrying_fee hide"><%=sum_info[:sum_k_to_short_carrying_fee]%></td>

      <td class="carrying_fee_total hide"><%=sum_info[:sum_carrying_fee_total]%></td>
      <td class="carrying_fee_th_total hide"><%=sum_info[:sum_carrying_fee_th_total]%></td>
      <td class="k_carrying_fee_total hide"><%=sum_info[:sum_k_carrying_fee_total]%></td>

      <td class="transit_carrying_fee hide"><%=sum_info[:sum_transit_carrying_fee]%></td>
      <td class="transit_hand_fee hide"><%=sum_info[:sum_transit_hand_fee]%></td>
      <td class="agent_carrying_fee hide"><%=sum_info[:sum_agent_carrying_fee]%></td>

      <td class="th_amount hide"><%=sum_info[:sum_th_amount]%></td>

      <td class="k_hand_fee hide"><%=sum_info[:sum_k_hand_fee]%></td>

      <td class="act_pay_fee hide"><%= sum_info[:sum_act_pay_fee] %></td>

      <td class='note'>&nbsp;</td>
      <td class='state'>&nbsp;</td>
      <td class='from_short_fee_state hide'>&nbsp;</td>
      <td class='to_short_fee_state hide'>&nbsp;</td>
      <td class='stranded_days hide'>&nbsp;</td>
    </tr>
  </tfoot>
</table>
