<table style='border-collapse : collapse;border : thin solid #000;'>
  <thead>
    <tr>
      <td colspan='10' style='text-align : center;font-size : 14px;'>返款清单</td>
    </tr>
    <tr>
      <td style='border : thin solid #000;'>返款单位:</td>
      <td colspan='2' style='border : thin solid #000;'><%=@refound.from_org.name%></td>
      <td style='border : thin solid #000;'>收款单位:</td>
      <td colspan='2' style='border : thin solid #000;'><%= @refound.to_org.name %></td>
      <td style='border : thin solid #000;'>返款日期:</td>
      <td style='border : thin solid #000;'><%= @refound.bill_date.strftime('%Y-%M-%d') %></td>
      <td style='border : thin solid #000;'>经手人:</td>
      <td style='border : thin solid #000;'><%= @refound.user %></td>
    </tr>
    <tr>
      <td style='border : thin solid #000;'>备注:</td>
      <td colspan='9' style='border : thin solid #000;'><%=@refound.note %></td>
    </tr>
  </thead>
  <thead>
    <tr>
      <td style='border : thin solid #000;'>序号</td>
      <td style='border : thin solid #000;'>运单号</td>
      <td style='border : thin solid #000;'>货号</td>
      <td style='border : thin solid #000;'>发货人</td>
      <td style='border : thin solid #000;'>收货人</td>
      <td style='border : thin solid #000;'>提付运费</td>
      <td style='border : thin solid #000;'>代收货款</td>
      <td style='border : thin solid #000;'>返款备注</td>
      <td style='border : thin solid #000;'>运费支付方式</td>
      <td style='border : thin solid #000;'>备注</td>
    </tr>
  </thead>

  <tbody>
    <%grouped_carrying_bills = @refound.carrying_bills.sort_by {|bill| bill.from_org.try(:simp_name )}.group_by(&:from_org)%>
    <%grouped_carrying_bills.each do |from_org,bills| %>
      <tr>
        <td style='border : thin solid #000;' colspan='10'><%= from_org.name %></td>
      </tr>
      <% bills.sort_by {|bill| bill.sort_seq}.each_with_index do |bill,index|%>
        <tr>
          <td style='border : thin solid #000;'><%= index + 1 %></td>
          <td style='border : thin solid #000;'>&nbsp;<%= bill.bill_no %></td>
          <td style='border : thin solid #000;'><%= bill.goods_no %></td>
          <td style='border : thin solid #000;'><%= bill.from_customer_name %></td>
          <td style='border : thin solid #000;'><%= bill.to_customer_name %></td>
          <td style='border : thin solid #000;'><%= bill.carrying_fee_th %></td>
          <td style='border : thin solid #000;'><%= bill.goods_fee %></td>
          <td style='border : thin solid #000;'></td>
          <td style='border : thin solid #000;'><%= bill.pay_type_des %></td>
          <td style='border : thin solid #000;'><%= bill.note %></td>
        </tr>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <td colspan='5' style='text-align : right;border : thin solid #000;'>小计</td>
        <td style='border : thin solid #000;'><%=bills.to_a.sum(&:carrying_fee_th)%></td>
        <td style='border : thin solid #000;'><%=bills.to_a.sum(&:goods_fee)%></td>
        <td style='border : thin solid #000;'></td>
        <td style='border : thin solid #000;'></td>
      </tr>
    </tfoot>
  <%end%>
  <tfoot>
    <tr>
      <td colspan='5' style='text-align : right;border : thin solid #000;'>合计</td>
      <td style='border : thin solid #000;'><%=@refound.carrying_bills.to_a.sum(&:carrying_fee_th)%></td>
      <td style='border : thin solid #000;'><%=@refound.carrying_bills.to_a.sum(&:goods_fee)%></td>
      <td style='border : thin solid #000;'></td>
      <td style='border : thin solid #000;'></td>
    </tr>
  </tfoot>
</table>
