<table style='border-collapse : collapse;border : thin solid #000;'>
  <thead>
    <tr>
      <th colspan='14' style='text-align : center;font-size : 14px;'>代收货款支付清单(<%=@transfer_payment_list.bank.name%>)</th>
    </tr>
    <tr>
      <td>支付单位:</td>
      <td><%=@transfer_payment_list.org %></td>
      <td>经手人:</td>
      <td><%= @transfer_payment_list.user %></td>
      <td>清单日期:</td>
      <td><%= @transfer_payment_list.bill_date.strftime('%Y-%m-%d') %></td>
      <td colspan='4' style='border : thin solid #000;'>&nbsp;</td>
      <td>状态:</td>
      <td><%= @transfer_payment_list.human_state_name %></td>
    </tr>
    <tr>
      <td>备注:</td>
      <td colspan='13'><%=@transfer_payment_list.note %></td>
    </tr>
    <tr>
      <th>序号</th>
      <th>单据编号</th>
      <th>实付代收货款</th>
      <th>帐号</th>
      <th>客户姓名</th>
      <th>客户编号</th>
      <th>开户行</th>
      <th>原代收货款</th>
      <th>扣运费</th>
      <th>扣手续费</th>
      <th>扣保险费</th>
      <th>扣发货短途</th>
      <th>扣到货短途</th>
      <th>货号</th>
    </tr>
  </thead>
  <tbody>
    <%@transfer_payment_list.carrying_bills.sort_by {|bill| bill.payment_list_sort_seq}.each_with_index do |bill,index| %>
      <tr style='border : thin solid #000;'>
        <td><%= index + 1 %></td>
        <td>&nbsp;<%= bill.bill_no %></td>
        <td>&nbsp;<%= bill.act_pay_fee %></td>
        <td>&nbsp;<%= bill.from_customer.bank_card %></td>
        <td>&nbsp;<%= bill.from_customer.name %></td>
        <td>&nbsp;<%= bill.from_customer.code %></td>
        <td><%= bill.from_customer.bank.name%></td>
        <td><%= bill.goods_fee%></td>
        <td><%= bill.k_carrying_fee%></td>
        <td><%= bill.k_hand_fee%></td>
        <td><%= bill.k_insured_fee%></td>
        <td><%= bill.k_from_short_carrying_fee%></td>
        <td><%= bill.k_to_short_carrying_fee%></td>
        <td><%= bill.goods_no %></td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr style='border-bottom : thin solid #000;'>
      <td colspan='2'>合计</td>
      <td><%=@transfer_payment_list.carrying_bills.to_a.sum(&:act_pay_fee)%></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><%=@transfer_payment_list.carrying_bills.sum(:goods_fee)%></td>
      <td><%=@transfer_payment_list.carrying_bills.to_a.sum(&:k_carrying_fee)%></td>
      <td><%=@transfer_payment_list.carrying_bills.sum(:k_hand_fee)%></td>
      <td><%=@transfer_payment_list.carrying_bills.to_a.sum(&:k_insured_fee)%></td>
      <td><%=@transfer_payment_list.carrying_bills.to_a.sum(&:k_from_short_carrying_fee)%></td>
      <td><%=@transfer_payment_list.carrying_bills.to_a.sum(&:k_to_short_carrying_fee)%></td>
      <td></td>
    </tr>
  </tfoot>
</table>
