<table class='table' data-detailUrl='<%=deliver_info_carrying_bills_path(resource,show_or_hidden_fields)%>'>
  <tr>
    <td>提货日期:</td>
    <td><%= resource.deliver_date.strftime('%Y-%m-%d') %></td>
    <td>提货人:</td>
    <td>
      <%=resource.customer_name %>
    </td>
    <td>身份证号:</td>
    <td> <%=resource.customer_no %></td>
  </tr>
  <tr>
    <td>备注</td>
    <td colspan='5'>
      <%=resource.note %>
    </td>
  </tr>
</table>
<div id="table_wrap"></div>
<div style='display : none;'>
  <%resource.carrying_bills.each do |bill|%>
    <%= link_to_function "打印运单", "",:class =>"tipsy print_carrying_bill #{params[:print].present? ? 'auto_print_bill' : ''}",:title => "打印运单","data-print" => "#{bill.to_print_json}" %>
  <%end%>
</div>
