<!DOCTYPE html>
<html>
  <head>
    <title><%="#{IlConfig.system_title}(#{current_user.default_org.name}|#{current_user.username})"%></title>
    <%= stylesheet_link_tag "web_app_theme" %>
    <%= stylesheet_link_tag "il_stylesheets" %>
    <!--[if IE 6]>
    <%= stylesheet_link_tag "il_ie_stylesheets" %>
    <![endif]-->
    <%= csrf_meta_tag %>
  </head>
  <body>
    <div id="container">
      <div id="header">
        <h1 id='client_name'><%=image_tag "#{IlConfig.client_logo}",:id => 'logo' %>&nbsp;&nbsp;<%= link_to "#{IlConfig.client_name}", :root %></h1>
        <div id="util-navigation">
          <ul class="wat-cf">
            <li>
              <%= link_to "#{current_user.real_name}(#{current_user.default_role.name}) | #{current_user.default_org.name} ", edit_password_users_path %>
            </li>
            <li><%=link_to "退出系统",destroy_user_session_path,:class => 'logout'%></li>
          </ul>
        </div>

        <div id="user-navigation">
          <ul class="wat-cf">
            <li>
              <div id='home-search-box-wrap'>
                <%=form_tag carrying_bills_path,:id => 'home-search-form',:method => :get do%>
                  <%=text_field_tag "search[bill_no_or_goods_no_eq]","",:id => 'home-search-box'%>
                  <%=hidden_field_tag :show_fields,".state"%>
                <%end%>
              </div>
            </li>
            <li id='adv-query-wrap'>
              <%=link_to "高级查询",search_carrying_bills_path(:not_remote => true),:class => 'fancybox',:id => "btn_advanced_search" %>
              &nbsp;&nbsp;&nbsp;
              <%= link_to image_tag("question-balloon.png"), "/help.doc" %>
            </li>
          </ul>
        </div>
        <div id="main-navigation">
          <ul class="wat-cf">
            <li class='first active'><%= link_to image_tag('home.png') + "业务看板", root_path %></li>
          </ul>
        </div>
      </div>
      <%if Notify.last.present?%>
        <div id='notify-bar' style='display : none;'>
          <span class='notify-close'><a title='关闭提醒信息'>x</a></span>
          <span class='notify-text' data-notify='<%=Notify.last.to_json%>'><%=Notify.last.try(:notify_text)%></span>
        </div>
      <%end%>
      <div id="wrapper" class="wat-cf">
        <div id="main">
          <%= yield %>
          <div id="footer">
            <%= render "shared/footer" %>
          </div>
        </div>
        <div id="sidebar">
          <%= render "shared/menu_bar" %>
        </div>
      </div>
    </div>
  </body>
  <%= javascript_include_tag "il_javascripts" %>
  <!--[if IE]>
  <%= javascript_include_tag "il_ie_javascripts" %>
  <![endif]-->
  <!--[if lte IE 6]>
  <%= javascript_include_tag "il_ie6_javascripts" %>
  <![endif]-->
  <%flash.each do |key, msg| %>
    <%= jquery_notify_bar(key, msg, :cls => key, :animation_speed => 'normal', :delay => 2000) %>
  <%end %>
</html>

